.git
.gitignore
Dockerfile
.dockerignore
.devcontainer/
docker/
docs/
# Needed by requirements-dev.txt (devcontainer build)
!docs/requirements-docs.txt
dist/
tests/
site/
.coveragerc
.eggs
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
freqtrade.service
freqtrade.service.watchdog
freqtrade.egg-info
.venv/
.env

*.yml
*.yaml
*.sh
*.ps1

config.json*
*.sqlite
user_data/
*.log

.vscode
.*_cache/
.ipynb_checkpoints
