# Orderbook collector environment overrides
OB_EXCHANGE=bybit
OB_PAIR=BTC/USDT:USDT
OB_DEPTH=200
OB_ROOT=/user_data/featurestore/bybit/BTCUSDT/1s
OB_SCHEMA_VER=1
OB_HEARTBEAT=15
OB_BACKOFF_BASE=3.0
OB_BATCH_SECONDS=60
