# === Freqtrade: конфиги и базы (секреты) ===
config*.json
!config_examples/*.example.json
*.sqlite
*.sqlite-shm
*.sqlite-wal
logfile.txt
*.log
.env

# === user_data: Изолируем полностью (у неё свой репозиторий) ===
user_data/

# === Freqtrade артефакты ===
freqtrade-plot.html
freqtrade-profit-plot.html
freqtrade/rpc/api_server/ui/*
build_helpers/ta-lib/*
docker-compose-*.yml

# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv
build/
dist/
*.egg-info/
.eggs/
*.egg
.pytest_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
htmlcov/
*.cover
.ipynb_checkpoints/

# === IDE и ОС ===
.idea
.vscode
.DS_Store
*.log

# === Прочее ===
*.manifest
*.spec
pip-log.txt
.python-version
!*.gitkeep
