{
    "max_open_trades": 3,
    "stake_currency": "BTC",
    "stake_amount": 0.05,
    "fiat_display_currency": "USD",
    "dry_run": false,
    "minimal_roi": {
        "40":  0.0,
        "30":  0.01,
        "20":  0.02,
        "0":  0.04
    },
    "stoploss": -0.10,
    "bid_strategy": {
        "ask_last_balance": 0.0
    },
    "exchange": {
        "name": "bittrex",
        "key": "key",
        "secret": "secret",
        "pair_whitelist": [
            "BTC_ETH",
            "BTC_LTC",
            "BTC_ETC",
            "BTC_DASH",
            "BTC_ZEC",
            "BTC_XLM",
            "BTC_NXT",
            "BTC_POWR",
            "BTC_ADA",
            "BTC_XMR"
        ]
    },
    "experimental": {
        "use_sell_signal": false
    },
    "telegram": {
        "enabled": true,
        "token": "token",
        "chat_id": "chat_id"
    },
    "initial_state": "running",
    "internals": {
        "process_throttle_secs": 5
    }
}
