{
    "max_open_trades": 3,
    "stake_currency": "BTC",
    "stake_amount": 0.05,
    "fiat_display_currency": "USD",
    "dry_run": false,
    "ticker_interval": "5m",
    "minimal_roi": {
        "40":  0.0,
        "30":  0.01,
        "20":  0.02,
        "0":  0.04
    },
    "stoploss": -0.10,
    "unfilledtimeout": 600,
    "bid_strategy": {
        "ask_last_balance": 0.0
    },
    "exchange": {
        "name": "bittrex",
        "key": "your_exchange_key",
        "secret": "your_exchange_secret",
        "pair_whitelist": [
            "ETH/BTC",
            "LTC/BTC",
            "ETC/BTC",
            "DASH/BTC",
            "ZEC/BTC",
            "XLM/BTC",
            "NXT/BTC",
            "POWR/BTC",
            "ADA/BTC",
            "XMR/BTC"
        ],
        "pair_blacklist": [
            "DOGE/BTC"
        ]
    },
    "experimental": {
        "use_sell_signal": false,
        "sell_profit_only": false
    },
    "telegram": {
        "enabled": true,
        "token": "your_telegram_token",
        "chat_id": "your_telegram_chat_id"
    },
    "db_url": "sqlite:///tradesv3.sqlite",
    "initial_state": "running",
    "internals": {
        "process_throttle_secs": 5
    },
    "strategy": "DefaultStrategy",
    "strategy_path": "/some/folder/"
}
