include LICENSE
include README.md
include config.json.example
include freqtrade/exchange/*.py
include freqtrade/rpc/*.py
include freqtrade/tests/*.py
include freqtrade/tests/testdata/*.json
include qtpylib/*.py
