# Include all requirements to run the bot.
-r requirements.txt
-r requirements-plot.txt
-r requirements-hyperopt.txt
-r requirements-freqai.txt
-r requirements-freqai-rl.txt
-r docs/requirements-docs.txt

coveralls==3.3.1
ruff==0.0.286
mypy==1.5.1
pre-commit==3.3.3
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-mock==3.11.1
pytest-random-order==1.1.0
isort==5.12.0
# For datetime mocking
time-machine==2.12.0

# Convert jupyter notebooks to markdown documents
nbconvert==7.7.4

# mypy types
types-cachetools==5.3.0.6
types-filelock==3.2.7
types-requests==2.31.0.2
types-tabulate==0.9.0.3
types-python-dateutil==2.8.19.14
