# Include all requirements to run the bot.
-r requirements.txt

# Required for hyperopt
scipy==1.7.1
scikit-learn==1.0.1
scikit-optimize==0.9.0
filelock==3.3.2
joblib==1.1.0
psutil==5.8.0
progressbar2==3.55.0
