numpy==1.26.4
pandas==2.2.1
pandas-ta==0.3.14b

ccxt==4.2.87
cryptography==42.0.5
aiohttp==3.9.3
SQLAlchemy==2.0.29
python-telegram-bot==21.0.1
# can't be hard-pinned due to telegram-bot pinning httpx with ~
httpx>=0.24.1
arrow==1.3.0
cachetools==5.3.3
requests==2.31.0
urllib3==2.2.1
jsonschema==4.21.1
TA-Lib==0.4.28
technical==1.4.3
tabulate==0.9.0
pycoingecko==3.1.0
jinja2==3.1.3
tables==3.9.1
joblib==1.3.2
rich==13.7.1
pyarrow==15.0.2; platform_machine != 'armv7l'

# find first, C search in arrays
py_find_1st==1.1.6

# Load ticker files 30% faster
python-rapidjson==1.16
# Properly format api responses
orjson==3.10.0

# Notify systemd
sdnotify==0.3.2

# API Server
fastapi==0.110.0
pydantic==2.6.4
uvicorn==0.29.0
pyjwt==2.8.0
aiofiles==23.2.1
psutil==5.9.8

# Support for colorized terminal output
colorama==0.4.6
# Building config files interactively
questionary==2.0.1
prompt-toolkit==3.0.36
# Extensions to datetime library
python-dateutil==2.9.0.post0
pytz==2024.1

#Futures
schedule==1.2.1

#WS Messages
websockets==12.0
janus==1.0.0

ast-comments==1.2.2
packaging==24.0
