# Include all requirements to run the bot.
-r requirements.txt
-r requirements-plot.txt

flake8==3.7.8
flake8-type-annotations==0.1.0
flake8-tidy-imports==2.0.0
pytest==5.0.1
pytest-mock==1.10.4
pytest-asyncio==0.10.0
pytest-cov==2.7.1
pytest-random-order==1.0.4
coveralls==1.8.1
mypy==0.711
