# Include all requirements to run the bot.
-r requirements.txt

# Required for freqai
scikit-learn==1.1.2
joblib==1.2.0
catboost==1.1; platform_machine != 'aarch64'
lightgbm==3.3.2
xgboost==1.6.2
tensorboard==2.10.1
