# Include all requirements to run the bot.
-r requirements.txt

# Required for hyperopt
scipy==1.6.3
scikit-learn==0.24.1
scikit-optimize==0.8.1
filelock==3.0.12
joblib==1.0.1
psutil==5.8.0
progressbar2==3.53.1
