# Include all requirements to run the bot.
-r requirements.txt
-r requirements-plot.txt

# Required for freqai
scikit-learn==1.5.2
joblib==1.4.2
catboost==1.2.7; 'arm' not in platform_machine
# Pin Matplotlib - it's depended on by catboost
# Temporary downgrade of matplotlib due to https://github.com/matplotlib/matplotlib/issues/28551
matplotlib==3.9.2
lightgbm==4.5.0
xgboost==2.0.3
tensorboard==2.18.0
datasieve==0.1.7
