# Include all requirements to run the bot.
-r requirements.txt
-r requirements-plot.txt
-r requirements-hyperopt.txt

coveralls==2.0.0
flake8==3.8.3
flake8-type-annotations==0.1.0
flake8-tidy-imports==4.1.0
mypy==0.782
pytest==5.4.3
pytest-asyncio==0.14.0
pytest-cov==2.10.0
pytest-mock==3.1.1
pytest-random-order==1.0.4

# Convert jupyter notebooks to markdown documents
nbconvert==5.6.1
