ccxt==1.15.3
SQLAlchemy==1.2.9
python-telegram-bot==10.1.0
arrow==0.12.1
cachetools==2.1.0
requests==2.19.1
urllib3==1.22
wrapt==1.10.11
pandas==0.23.1
scikit-learn==0.19.1
scipy==1.1.0
jsonschema==2.6.0
numpy==1.14.5
TA-Lib==0.4.17
pytest==3.6.2
pytest-mock==1.10.0
pytest-cov==2.5.1
hyperopt==0.1
# do not upgrade networkx before this is fixed https://github.com/hyperopt/hyperopt/issues/325
networkx==1.11 # pyup: ignore
tabulate==0.8.2
coinmarketcap==5.0.3

# Required for plotting data
#plotly==2.7.0
