# Include all requirements to run the bot.
-r requirements.txt
-r requirements-plot.txt

# Required for freqai
scikit-learn==1.8.0
joblib==1.5.3
lightgbm==4.6.0
xgboost==3.1.3
tensorboard==2.20.0
datasieve==0.1.9
