"order_types": {
    "entry": "limit",
    "exit": "limit",
    "emergency_exit": "limit",
    "stoploss": "limit",
    "stoploss_on_exchange": false
},
"exchange": {
    "name": "{{ exchange_name | lower }}",
    "key": "{{ exchange_key }}",
    "secret": "{{ exchange_secret }}",
    "ccxt_config": {"enableRateLimit": true},
    "ccxt_async_config": {
        "enableRateLimit": true,
        "rateLimit": 500
    },
    "pair_whitelist": [
    ],
    "pair_blacklist": [
    ]
}
