"exchange": {
    "name": "{{ exchange_name | lower }}",
    "key": "{{ exchange_key }}",
    "secret": "{{ exchange_secret }}",
    "password": "{{ exchange_key_password }}",
    "ccxt_config": {
        "enableRateLimit": true,
        "rateLimit": 200
    },
    "ccxt_async_config": {
        "enableRateLimit": true,
        "rateLimit": 200
    },
    "pair_whitelist": [
    ],
    "pair_blacklist": [
    ]
}
