.rst-versions  {
    font-size: .7rem;
    color: white;
}

.rst-versions.rst-badge .rst-current-version {
    font-size: .7rem;
    color: white;
}

.rst-versions .rst-other-versions {
    color: white;
}
