
# Regression target: mean close return over label_period_candles.
dataframe["&-s_close"] = (
    dataframe["close"]
    .shift(-self.freqai_info["feature_parameters"]["label_period_candles"])
    .rolling(self.freqai_info["feature_parameters"]["label_period_candles"])
    .mean()
    / dataframe["close"]
    - 1
)
